<h1>Home page Docto.fish</h1>


<% if user_signed_in? %>
<p>Bonjour, ravie de te revoir <%= current_user.email %></p>
<% end %>
<form action="/cardsfishs" method="get">
<input type="text" name="fishes" placeholder="Trouver mon poisson">
<input type="submit">
</form>

<% fishes = [ 'poisson clown', 'poisson rouge', 'poisson tête de lion', 'guppy'] %>
